{% extends "base_member.html" %}
{% block content %}
 <!-- Begin Page Content -->
 <div class="container-fluid">

     <!-- Page Heading -->
     <h1 class="h3 text-gray-800 mb-6">History of Issued Cards</h1>
     {% if message %}
                    <div class="alert alert-danger">
                      <center>{{message}}</center>
                    </div> 
                    {% endif %}
     {% for reward in rewards %}
     <div class="list-group">
         <a href="{{reward.link}}" class="list-group-item list-group-item-action mb-2 shadow flex-column align-items-start ">
           <div class="d-flex w-100 justify-content-between">
             <h3 class="mb-1">Congratulations, A Gift card is awaiting for redemption.</h3>
             <small>{{reward.date}}</small>
            </div>
           <h6>Card Value : ${{reward.value}} </h3>
         </a>
     </div>
     {% endfor %}
 </div>
 <!-- /.container-fluid -->

{% endblock %}